* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

body {
    background: #040D21;
    background-size: cover;
    transition: 2s;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    min-width: 100%;
    min-height: 100%;
    background: url("https://github.githubassets.com/images/modules/site/home/hero-glow.svg") top;
    animation: 10s ease overlay-appear infinite;
    animation-fill-mode: forwards;
}

@keyframes overlay-appear {
    from {
        opacity: 0.2;
        background-size: 150% 150%;
    }
    50% {
        opacity: 0.5;
        background-size: 200% 250%;
    }
    to {
        opacity: 0.2;
        background-size: 150% 150%;
    }
}


.terminal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 40%;
    background: #22272E;
    color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 1px 1px 14px 4px rgba(49, 109, 202, 0.5);
}

.red {
    background: #FF5F56;
}

.yellow {
    background: #FFBD2E;
}

.green {
    background: #27C93F;
}

.btn {
    margin-right: 10px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.bold {
    font-size: 20px;
    font-weight: 700;
}

.regular {
    font-size: 15px;
    font-weight: 400;
}